USE [master]
GO
/****** Object:  Database [Pract_15_db]    Script Date: 11.12.2025 15:44:01 ******/
CREATE DATABASE [Pract_15_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pract_15_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pract_15_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Pract_15_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Pract_15_db_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pract_15_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pract_15_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11.12.2025 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 11.12.2025 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 11.12.2025 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags]    Script Date: 11.12.2025 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags](
	[product_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
 CONSTRAINT [PK_product_tags] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 11.12.2025 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[rating] [decimal](3, 1) NOT NULL,
	[created_at] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 11.12.2025 15:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](40) NOT NULL,
 CONSTRAINT [PK_tags] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([id], [name]) VALUES (1, N'Samsung')
INSERT [dbo].[brands] ([id], [name]) VALUES (2, N'Apple')
INSERT [dbo].[brands] ([id], [name]) VALUES (3, N'Sony')
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Smartphones')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Laptops')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Accessories')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 1)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 2)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (1, N'Logitech MX Master 3                    ', N'Latest-generation technology            ', CAST(167.56 AS Decimal(10, 2)), 307, CAST(4.4 AS Decimal(3, 1)), CAST(N'2024-07-11' AS Date), 3, 5)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (2, N'Lenovo Tab P12                          ', N'High-performance device                 ', CAST(2659.51 AS Decimal(10, 2)), 238, CAST(1.8 AS Decimal(3, 1)), CAST(N'2024-03-06' AS Date), 4, 3)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (3, N'TCL 6-Series 55                         ', N'High-performance device                 ', CAST(1563.33 AS Decimal(10, 2)), 499, CAST(4.6 AS Decimal(3, 1)), CAST(N'2023-11-05' AS Date), 5, 2)
GO
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[tags] ON 

INSERT [dbo].[tags] ([id], [name]) VALUES (1, N'New')
INSERT [dbo].[tags] ([id], [name]) VALUES (2, N'Popular')
INSERT [dbo].[tags] ([id], [name]) VALUES (3, N'Discount')
SET IDENTITY_INSERT [dbo].[tags] OFF
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD  CONSTRAINT [FK_product_tags_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_tags] CHECK CONSTRAINT [FK_product_tags_products]
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD  CONSTRAINT [FK_product_tags_tags] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
GO
ALTER TABLE [dbo].[product_tags] CHECK CONSTRAINT [FK_product_tags_tags]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_brands] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_brands]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories]
GO
USE [master]
GO
